# local env files
.env.local
.env.*.local

# Log files

# Editor directories and files
*.suo
source/GuiVersion/AmongUsModUpdater/.vs/*
*.v2
source/GuiVersion/AmongUsModUpdater/.vs/AmongUsModUpdater/v16/.suo
source/GuiVersion/obj/Release/net5.0-windows/AmongUsModUpdater.csprojAssemblyReference.cache
/source/GuiVersion/bin/
/source/GuiVersion/AmongUsModUpdater/bin/
/source/GuiVersion/AmongUsModUpdater.AmongUsModUpdater/bin/
/source/GuiVersion/AmongUsModUpdater.ModFunctions/bin/
/source/GuiVersion/AmongUsModUpdater.TheOtherRoles/bin/
/source/GuiVersion/WinForms.Logger/bin/
/source/GuiVersion/obj/
/source/GuiVersion/AmongUsModUpdater/obj/
/source/GuiVersion/AmongUsModUpdater.AmongUsModUpdater/obj/
/source/GuiVersion/AmongUsModUpdater.ModFunctions/obj/
/source/GuiVersion/AmongUsModUpdater.TheOtherRoles/obj/
/source/GuiVersion/WinForms.Logger/obj/
source/GuiVersion/AmongUsModUpdater/Properties/PublishProfiles/